@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.timeline-line {
  position: relative;
}

.timeline-line::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #e2e8f0;
  z-index: 0;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .timeline-line::before {
    left: 20px;
  }
}

.reveal {
  transition: all 700ms;
  opacity: 0;
  transform: translateY(2.5rem);
}

.reveal.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}
